<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Категория продукта" %>
    <%= form.select :category, Product.categories.keys %>
  </div>

  <div class="field">
    <%= form.label "Тип продукта" %>
    <%= form.select :weight_type, Product.weight_types.keys %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.number_field :sale_price %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :batch_id %>
    <%= select("product", "batch_id", Batch.all.collect {|b| [b.company_name, b.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
